<section class="fileUploadContainer">
  <p-fieldset
    legend="Upload CSV file"
    [toggleable]="true"
    [collapsed]="statesService.collapseFileUploadField()"
  >
    <p-toast />
    <p-confirmDialog />
    <p-fileUpload
      (uploadHandler)="customUploadHandler($event)"
      (onClear)="onFileRemove()"
      [chooseLabel]="chooseLabel"
      [uploadLabel]="uploadLabel"
      [multiple]="false"
      customUpload="true"
      accept="text/csv"
      [maxFileSize]="statesService.maxFileSize()"
    >
    </p-fileUpload>
  </p-fieldset>
</section>
