<section class="fileUploadContainer">
  <p-fieldset
    legend="Upload CSV file"
    [toggleable]="true"
    [collapsed]="collapseFileUploadFieldSet"
  >
    <div class="card flex justify-content-center">
      <p-toast />
      <p-fileUpload
        (uploadHandler)="uploadHandler($event)"
        [multiple]="false"
        customUpload="true"
        accept="text/csv"
        [maxFileSize]="maxFileSize"
      >
      </p-fileUpload>
    </div>

    <div class="card flex justify-content-center gap-2">
      <p-toast />
      <p-confirmDialog />
      <button
        id="confirmBtn"
        style="position: relative; top: -4rem; right: 10rem; z-index: -2000"
        (click)="triggerFileUploadConfirmation($event)"
      ></button>
    </div>
  </p-fieldset>
</section>
