.mainDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.p-accordion-content {
  padding: 0;
}

code {
  font-size: 14px;
  cursor: pointer;
}
