<header class="card" style="margin-top: 1rem">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <h3 style="margin: 0 auto">CSV2JSON</h3>
    </div>
    <div class="p-toolbar-group-center">
      <p class="p-input-icon-left">Convert CSV data into JSON data</p>
    </div>
    <div class="p-toolbar-group-end">
      <p-button label="GitHub" icon="pi pi-github" />
    </div>
  </p-toolbar>
</header>

<section class="fileUploadContainer" style="margin-top: 2rem">
  <div class="card flex justify-content-center">
    <p-toast />
    <p-fileUpload
      (uploadHandler)="uploadHandler($event)"
      [multiple]="false"
      customUpload="true"
      accept="text/csv"
      [maxFileSize]="maxFileSize"
    >
    </p-fileUpload>
  </div>

  <div class="card flex justify-content-center gap-2">
    <p-toast />
    <p-confirmDialog />
    <button
      id="confirmBtn"
      style="position: relative; top: -4rem; right: 10rem; z-index: -2000"
      (click)="triggerFileUploadConfirmation($event)"
    ></button>
  </div>
</section>

<section>
  <div class="card flex justify-content-center">
    <p-fieldset
      legend="Select File Headers ({{ fileHeaders.length }}) "
      [toggleable]="true"
      [collapsed]="true"
    >
      <p-scrollPanel
        [style]="{ width: '100%', maxHeight: '120px', overflowY: 'scroll' }"
      >
        <div class="mainDiv">
          <div *ngIf="fileHeaders.length">
            <p-checkbox
              [(ngModel)]="selectAll"
              label="Select All"
              [binary]="true"
              (onChange)="toggleSelectAll($event)"
            ></p-checkbox>
          </div>
          <div *ngFor="let header of fileHeaders">
            <p-checkbox
              [(ngModel)]="selectedFileHeaders"
              [label]="header"
              name="group"
              [value]="header"
              (ngModelChange)="checkAllHeadersSelected()"
            ></p-checkbox>
          </div>
        </div>
      </p-scrollPanel>
      <p-divider />
      <div style="margin-top: 0.5rem">
        <p-button label="Convert to JSON" (onClick)="triggerFileParsing()" />
      </div>
    </p-fieldset>
  </div>
</section>
