<app-header />
<app-file-upload />

<section>
  <div class="card flex justify-content-center">
    <p-fieldset
      legend="Select File Headers ({{ fileHeaders.length }}) "
      [toggleable]="true"
      [collapsed]="collapseFileHeadersFieldSet"
    >
      <p-scrollPanel
        [style]="{ width: '100%', maxHeight: '120px', overflowY: 'scroll' }"
      >
        <div class="mainDiv">
          <div *ngIf="fileHeaders.length">
            <p-checkbox
              [(ngModel)]="selectAll"
              label="Select All"
              [binary]="true"
              (onChange)="toggleSelectAll($event)"
            ></p-checkbox>
          </div>
          <div *ngFor="let header of fileHeaders">
            <p-checkbox
              [(ngModel)]="selectedFileHeaders"
              [label]="header"
              name="group"
              [value]="header"
              (ngModelChange)="checkAllHeadersSelected()"
            ></p-checkbox>
          </div>
        </div>
      </p-scrollPanel>
      <p-divider />
      <div style="margin-top: 0.5rem">
        <p-button label="Convert to JSON" (onClick)="triggerFileParsing()" />
      </div>
    </p-fieldset>
  </div>
</section>

<section
  id="codePreviewContainer"
  style="position: relative; border-radius: 0.3rem"
>
  <div style="position: absolute; top: 2rem; right: 2rem">
    <p-button
      size="small"
      label="Copy to clipboard"
      (onClick)="copyToClipBoard()"
      [outlined]="true"
    />
  </div>

  <p-fieldset
    legend="Parsed JSON"
    [toggleable]="true"
    [collapsed]="collapseCodeBlockFieldSet"
  >
    <p-scrollPanel [style]="{ width: '100%', height: '550px', padding: 0 }">
      <pre
        style="margin-top: 0"
      ><code class="language-json" id="codeblock" #codeBlock></code></pre>
    </p-scrollPanel>
  </p-fieldset>
</section>
